@font-face {
    font-family: 'gothicCon';
    src: url('leaguegothic-condensedregular-webfont.woff2') format('woff2'),
         url('leaguegothic-condensedregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothic';
    src: url('leaguegothic-regular-webfont.woff2') format('woff2'),
         url('leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  background-color: #181818;
}

html, body {
  height: 100%;
}

body {
  background-image: url('tnmp_fondo@2x.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 5%;
  margin-left: 0;
  margin-right: 0;
  font-family: 'gothicCon', sans-serif;
  letter-spacing: 0.18vw;
}

.logo {
  width: 7%;
  margin-top: 17%;
  margin-left: 10%;
}

.lttrs {
  float: right;
  width: 14%;
  margin-right: 9%;
  margin-top: 20.5%;
}

.merchant-container {
  margin: auto;
  width: 100%;
}

.merchant {
  text-align: center;
  margin-top: 15vw;
  font-size: 1.75em;
  margin-left: -4%;
}

a {
  color: #d1d1d1;
  margin-left: 0.25vw;
  margin-right: 0.25vw;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover {
  background-color: #e42d2b;
  color: #000;
}

.demos {
  color: #e72a21;
}

ul {
  list-style-type: none;
  text-align: center;
}

.merchant li {
  display: inline;
}

li:nth-child(6):after {
  content: "\a";
  white-space: pre;
}

@media (max-width: 600px) {
  .logo {
    width: 28%;
    margin-left: 34%;
    margin-top: 0;
  }

  .lttrs {
    float: none;
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
  }

  body {
    background: none;
    height: 100%;
  }

  .merchant {
    font-size: 2.3em;
    margin-right: 10%;
    margin-top: 1%;
  }

  ul {
    text-align: center;
  }

  .merchant li {
    display: block;
  }

  .tnmp {
    width: 100%;
    height: 45%;
    background-image: url('tnmp_fondo@2x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 47%;
    background-blend-mode: screen;
    margin-top: -10%;
  }
}
